@import '../styles/settings/_settings';

.container {
    padding-top: 2rem !important;
    .upper-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem !important;
    }
}

.create-update-container {
    padding-top: 2rem !important;
    .upper-section {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem !important;
    }
    .action-section {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}


